.statistics-container
  .col
    vertical-align: top
    margin-top: 35px
    @include media($large-screen)
      width: 48%
      display: inline-block

    &:first-child
      margin-right: 1%

    &:last-child
      margin-left: 1%

  .statistic_chart
    border: $base-border
    padding: 20px
    margin-bottom: 35px

    .sources
      padding-top: 5px
      margin-top: 1.5rem
      border-top: $base-border

