#party_description.side-image
  .side-image-content
    %h1
      = t('party_description', party: ruling_party.political_party.name, leader: ruling_party.leader.name)
    %p
      = t((ruling_party.is_current ? 'mandate_period_current' : 'mandate_period_past'),
          mandate_start: ruling_party.mandate_start.year, mandate_end: ruling_party.mandate_end.year)
  .images-wrapper
    %img{src: ruling_party.banner}