-# Sub header with party name, politician and mandate period
= react_component('RulingEntityDescription', ruling_entity: @ruling_party)

#main-content
  -# Tabs view
  = react_component('PromisesCategoriesTabs', {promises: @ruling_party.promises})

  -# Global mandate statistics
  = react_component('MandateStatistics', ruling_party: @ruling_party, promises: @ruling_party.promises)

