.statistics-container
  .statistic_chart
    @include span-columns(12)
    @include media ($large-screen)
      @include span-columns(6)

    margin-top: 35px
    border: $base-border
    padding: 25px

    .statistic-description
      margin-bottom: 30px
      border-bottom: $base-border
      padding-bottom: 15px

