.statistics-container
  - for stat in @statistics
    .statistic_graph
      = react_component 'Statistic', description: stat.description, json_data: stat.json_data, graph_type: stat.graph_type,
                                     json_options: stat.json_options
