$font-family-logo: 'Righteous-Regular'

/* Main logo font */
@font-face
  font-family: $font-family-logo
  src: font-url('Righteous-Regular.ttf')
  font-weight: normal
  font-style: normal

// Main logo
.main-logo
  h1
    font-family: $font-family-logo, $heading-font-family
    text-shadow: 1px 1px 1px #6D6D6D
    color: #5dac5d
    font-size: 26px
    &:hover
      text-shadow: 1px 1px 1px green