.leader
  padding: 20px
  box-shadow: 0px 0px 5px 5px $light-gray
  min-height: 130px

  .leader-name
    border-bottom: $base-border
    display: flex

  > img
    max-height: 100px
    max-width: 100px
    display: inline-block
    float: right
