.ruling-entities-list
  $number_of_entries_before_full_delay: 4
  $max_animation_delay: 1.2s
  $min_animation_delay: 0.6s

  .ruling-entity-header
    @extend .animated
    @extend .flipInX
    @include animation-duration(0.6s)
    @include animation-delay(0s)

    &:hover
      background: darken($ruling-entity-header-default-background, 2) !important

  > a
    @include ProgressiveAnimationDuration($min_animation_delay, $max_animation_delay, $number_of_entries_before_full_delay, "> .ruling-entity-header")
