%header.navigation{:role => 'banner'}
  .navigation-wrapper
    %a.main-logo{:href => root_url}
      %h1
        = Settings.site_title ? Settings.site_title : 'DemocracyWatcher'

    = react_component 'ResponsiveNavigationMenu', selected_entity: @ruling_entity
