%header.navigation{:role => 'banner'}
  .navigation-wrapper
    %a.main-logo{:href => root_url}
      %h1
        = Settings.site_title ? Settings.site_title : 'DemocracyWatcher'

    - links = []
    - links.append(active_link_to t('current_government'), :root, :active => :exclusive)
    - links.append(active_link_to t('all_governments'), ruling_entities_path, :active => :exclusive)
    - links.append(active_link_to t('About'), faq_path)
    = react_component 'ResponsiveNavigationMenu', links: links

    -# TODO: Search bar
    -#.navigation-tools
    -#  .search-bar
    -#    %form{:role => 'search'}
    -#      %input.disabled{:placeholder => t('search'), :type => 'search', disabled: 'disabled', title: 'Coming soon !'}/
    -#      %button{:type => 'submit', :class => 'fa fa-search'}